.App {
  text-align: center;
}

.App-logo {
  height: 50%;
  width: 50%;
  pointer-events: none;
}

.App-secondary-logo {

}

@media (prefers-reduced-motion: no-preference) {
  .App-secondary-logo {
    animation: App-secondary-logo-spin infinite 20s linear;
    transform: scale(0.6);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-secondary-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
